<!DOCTYPE html>
<html ng-app='sdk'>
<head>
  <title>MY SDK</title>
</head>
<body ng-controller='mainCtrl'>

  <form ng-submit="getBirdsSDK()">
    <select ng-model="status" ng-options="theStatus for theStatus in IUCNCategories"></select>
    <input placeholder="order" type="text" ng-model="order">
    <button type="submit">Submit</button>
  </form>
  <h2 ng-show="err">{{err}}</h2>
  <div ng-repeat="bird in birds">
    Common Name: {{bird.commonName}},
    <br>
    Scientific Name: {{bird.scientificName}}
    <br>
    <br>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="mainCtrl.js"></script>
  <script src="mainService.js"></script>
</body>
</html>
