<div ng-hide="user" class="register">
  <form ng-show="toggle" ng-submit="register()">
    Register here:
    <input type="email" ng-model="newUser.email" placeholder="email">
    <input type="password" ng-model="newUser.password" placeholder="password">
    <button>Submit</button>
  </form>
  <form ng-hide="toggle" ng-submit="login()">
    Login:
    <input type="email" ng-model="loginUser.email" placeholder="email">
    <input type="password" ng-model="loginUser.password" placeholder="password">
    <button>Submit</button>
  </form>
  <button ng-click="facebookAuth()">Login in with Facebook</button>
  <button ng-click="logout()">logout</button>
  <button ng-click="toggle = !toggle">Toggle form</button>
</div>
{{user.email}}
{{user.displayName}}
<img ng-src="{{user.profileImageURL}}">

<button ng-show="user" ng-click="logout()">Logout</button>



<a href="#/addBird">Add a new bird</a>

<form ng-submit="getBirdsSDK()">
  <select ng-model="status" ng-options="theStatus for theStatus in IUCNCategories"></select>
  <input placeholder="order" type="text" ng-model="order">
  <button type="submit">Submit</button>
</form>
<h2 ng-show="err">{{err}}</h2>
<div ng-repeat="theBird in birds">
  <bird-dir bird="theBird" remove-bird="destroyBird(id)"></bird-dir>
</div>
